@import './variables.scss';

#filters {

  #top-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary-grey;
    padding: 1% 2% 1% 2%;

    #filter-left {
      display: flex;

      #people-dropdown {
        margin-right: 5%;

        select {
          padding: 0.3rem 0.5rem;
          border: 1px solid $primary-grey;
          font-weight: bold;
        }
      }

      #btn-add {

        background-color: $secondary-blue;
        color: white;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        font-size: 0.8em;
        font-weight: bold;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
      }

      #btn-add-dropdown {
        display: inline-block;
        background-color: $secondary-blue;
        color: white;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        button {
          padding-left: 1rem;
          padding-right: 1rem;
        }

        #add-dropdown-arrow {
          width: 100%;
        }
      }
    }

    #filter-right {
      button {
        background-color: white;
        border: none;
        color: $secondary-grey;
        margin-left: 0.5em;
      }
    }
  }

  #detailed-filter{
    padding: 1% 2% 1% 2%;
    border-bottom: 3px solid $primary-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .filter-button{
      background-color: white;
      border: none;
      color: $secondary-grey;
    }

    .selected{
      color: $text-blue;
    }
  }

}

.check-box{
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
}