@import './variables.scss';


nav {
  box-shadow: 0 0 10px 0 #888888;
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;

  #navh1{
    height: 100%;
    border-bottom: 1px solid blue;
    padding-bottom: 1%;
  }
  h1 {
    font-size: 150%;
    margin-right: 5%;
  }

  input {
    width: 50%;
    border: none;
    background-color: $primary-grey;
    border-radius: 15px;
    background-image: url(../../images/Magnifying_glass_icon.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 50px;
    margin: 0 7% 1% 7%;
  }

  #nav-icons {
    max-width: 10%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 1%;

    .nav-icon {
      border: none;
      background-color: white;
      position: relative;

      #profile {
        width: 90%;
      }

      #question {
        width: 90%;
      }

      #notif-num {
        position: absolute;
        padding: 3px;
        border-radius: 40px;
        display: block;
        right: 10px;
        top: 0px;
      }

      img {
        width: 60%;
      }

    }
  }

}