@import './variables.scss';

#sidebar {
  width: 15%;
  height: 100vh;
  background-color: $primary-blue;
  padding-top: 0.5%;
  border-right: 1px solid black;
  position: relative;

  #profile {
    display: flex;
    color: $secondary-grey;
    align-items: center;
    margin-bottom: 15%;

    p {
      margin: 0 2rem 0 1rem;
    }

    #subtext {
      font-size: 0.8rem;
    }

    #profile-image {
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      border-radius: 50px;
      margin-left: 5%;

      img {
        width: 100%;
      }

      #X {
        flex-grow: 1;
        color: white;
      }
    }
  }

  .btn-link {
    background-color: $primary-blue;
    border: none;
    color: $secondary-grey;
    text-decoration: none;
    width: 100%;
    text-align: start;
    padding-bottom: 7%;
    padding-top: 7%;
    position: relative;
    height: 5%;

    .link-icon {
      position: absolute;
      left: 17%;
      top: 40%;
    }

    .btn-lock {
      position: absolute;
      top: 40%;
      right: 10%;
    }

    p {
      display: inline-block;
      position: absolute;
      left: 30%;
      top: 35%;
    }
  }

  .selected {
    color: white;
    background-color: rgba(83, 65, 95, 255);
    border-left: 2px solid $secondary-blue;
  }

  .break {
    border-bottom: 1px solid $secondary-grey;
  }

  #copper-logo {
    color: white;
    position: absolute;
    bottom: 3%;
    left: 7%;
    width: 50%;
  }

  #ellipsis {
    position: absolute;
    bottom: 3%;
    right: 10%;
  }
}