@import './components/sidebar.scss';
@import './components/navbar.scss';
@import './components/filters.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

$primary-grey: rgb(233, 233, 233);

#site-wrapper {
  display: flex;
}

main {
  width: 100%;
}